<header class="jumbotron">
    <h1 class="text-center">Cadastrar Fotos</h1>
</header>

<main class="container">
    <div class="row" *ngIf="mensagem">
        <div class="col-sm-12">
            <mensagem tipo="success"> {{mensagem}} </mensagem>
        </div>
    </div>
    <section class="row">
        <form class="col-sm-7" (ngSubmit)='salvar()' [formGroup] = "formCadastro">
            <div class="form-group">
                <label for="txt-titulo">Título</label>
                <input id="txt-titulo" 
                    name="titulo" 
                    
                    value="{{foto.titulo}}" 
                    type="text" 
                    class="form-control" 
                    formControlName ="titulo"
                    >
                
                <div *ngIf="!formCadastro.controls.titulo.valid">
                    <span *ngIf="formCadastro.controls.titulo.errors.required" class="form-control alert-danger">
                            Titulo obrigatorio!
                    </span>
                    
                    <span *ngIf="formCadastro.controls.titulo.errors.minlength" class="form-control alert-danger">
                            Titulo deve ter no minimo 3 caracteres
                    </span>
                </div>
                
                
            </div>

            <div class="form-group">
                <label for="txt-url">URL</label>
                <input id="txt-url" 
                    name="url" 
                    type="text" 
                    
                    value="{{foto.url}}" 
                    class="form-control"
                    formControlName ="url"
                    >
                <span *ngIf="formCadastro.controls.url.invalid" class="form-control alert-danger">
                        URL obrigatorio!
                </span>
            </div>

            <div class="form-group">
                <label for="txt-descricao">Descrição</label>
                <textarea id="txt-descricao" 
                    name="descricao" 
                    class="form-control" 
                    
                    formControlName ="descricao"
                    >{{foto.descricao}}</textarea>
            </div>

            <a routerLink="" class="btn btn-secondary">Voltar</a>

            <button type="submit" class="btn btn-primary" [disabled]="formCadastro.invalid">
                Salvar
            </button>
        </form>
        <aside class="col-sm-5">
            <h3 class="text-center">Preview</h3>
            <painel titulo='{{formCadastro.controls.titulo.value}}'>
                <foto url='{{formCadastro.controls.url.value}}' titulo='{{formCadastro.controls.titulo.value}}'></foto>
            </painel>
        </aside>
    </section>

</main>